<h2>Booking detail</h2>

<p>
    <b>Name:</b> {{name}}
</p>

<p>
    <b>Date:</b> {{date}}
</p>

<p>
    <b>People num:</b> {{peopleNum}}
</p>

<p>
    <b>Phone:</b> {{phone}}
</p>

<p>
    <b>E-mail:</b> {{email}}
</p>

<p>
    <b>Note:</b> {{note}}
</p>

{{#linkTo "bookings"}} ← Back to bookings list{{/linkTo}} |
<a href="#" {{action "seat"}}>Seated</a>
